[force_move]
enable_force_move: True

[respond]
default_type: echo

[gcode_macro G31]
description: Clear power-loss recovery temporary data via shell script
gcode:
  RESPOND PREFIX="PLR" MSG="Clearing PLR state"
  RUN_SHELL_COMMAND CMD=clear_plr

[gcode_shell_command clear_plr]
command: sh {PLR_DIR}/clear_plr.sh
timeout: 5

[gcode_macro save_last_file]
description: Save the currently printed file path and filename to variables.cfg
gcode:
  {% set filepath = printer.virtual_sdcard.file_path %}
  {% set filename = filepath.split('/') %}
  SAVE_VARIABLE VARIABLE=last_file VALUE='"{ filename[-1] }"'
  SAVE_VARIABLE VARIABLE=filepath VALUE='"{ printer.virtual_sdcard.file_path }"'

  RESPOND PREFIX="PLR" MSG="Last file: {filename[-1]}"

[gcode_macro clear_last_file]
description: Clear stored file path and filename from variables.cfg
gcode:
  {% set filename = '' %}
  {% set filepath = '' %}
  SAVE_VARIABLE VARIABLE=last_file VALUE='"{ filename }"'
  SAVE_VARIABLE VARIABLE=filepath VALUE='"{ filepath }"'

  RESPOND PREFIX="PLR" MSG="Cleared last file info"

[gcode_shell_command POWER_LOSS_RESUME]
command: {PLR_DIR}/plr.sh
timeout: 420

[gcode_macro RESUME_INTERRUPTED]
description: Generate a resume G-code file for an interrupted print using stored PLR data
gcode:
  SET_GCODE_OFFSET Z=0 MOVE=0

  {% set z_height = params.Z_HEIGHT|default(printer.save_variables.variables.power_resume_z)|float %}
  {% set last_file = params.GCODE_FILE|default(printer.save_variables.variables.last_file)|string %}

  RESPOND PREFIX="PLR" MSG="Preparing resume for {last_file} at Z={z_height}"

  RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_height} \"{last_file}\""
  # SDCARD_PRINT_FILE FILENAME=plr/"{last_file}"

[gcode_macro SAVE_PLR_RESUME_DATA]
description: Save Z height and target temperatures at each layer for power-loss recovery (call in slicer AFTER_LAYER_CHANGE)
gcode:
  {% set z_pos = printer.gcode_move.gcode_position.z %}
  {% set bed = printer.heater_bed.target|default(60)|float %}
  {% set extruder = printer.extruder.target|default(210)|float %}

  RESPOND PREFIX="PLR" MSG="Z={z_pos} BED={bed} HOTEND={extruder}"

  SAVE_VARIABLE VARIABLE=power_resume_z VALUE={z_pos}
  SAVE_VARIABLE VARIABLE=bed_temp VALUE={bed}
  SAVE_VARIABLE VARIABLE=extruder_temp VALUE={extruder}

[save_variables]
filename: variables.cfg
