# plr-klipper update_manager entry
[update_manager klipper-plr]
type: git_repo
path: ~/klipper-plr
origin: https://github.com/nstcactus/klipper-plr.git
primary_branch: main
install_script: install.sh
is_system_service: False
